body {
    background-color: #f7f7fa;
}
.cabecera {
    background-color: hsl(0, 0%, 100%);
    height: 120px;
    font-size: 1.1em;
    color: #468fc0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.cabecera img {
    float: unset;
    width: 4%;

}
.empresa {
    font-size: 3em;
    color: #2d9ee9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    float: unset;
}

.slogan {
    font-size: 1em;
    color: #2d9ee9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    float: unset;
}

.titulo {
    font-size: 3em;
    color: #010124;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

nav {
    float: unset;
}

nav ul {
    list-style: none;
}
nav ul li{
    display:inline-block;
}
nav ul li a{
    font-size: 0.80em;
    color: #2d9ee9;
    text-decoration: none;
    padding-right: 60px;
}
nav ul li a:hover{
    font-size: 0.90em;
    text-decoration: underline;
    padding-right: 60px;   
}

.secciones {
    clear: both;
    width:fit-content;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items:stretch;
}

.parte1 {
    clear: both;
    float: left;
    width: 40%;
    padding-left: 200px;
    padding-right: 20px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.parte2 {
    float: left;
    width: 40%;
    padding-left: 50px;
    padding-right: 20px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.parte3 {
    float: left;
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.parte4 {
    float: left;
    width: 20%;
    padding-right: 20px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.parrafo {
    clear: both;
    float: left;
    width: 80%;
    padding-left: 200px;
    padding-right: 20px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.footer {
    clear:both;
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img.pie{
    clear:both;
    width: 100%;
    height: 70px;
    float: right;
    padding-top: 20px;
}

img.img-normalizada{
	width: 180px;
	height:180px;
	object-fit: cover;
}


 .table { 
    border-collapse: collapse; 
    align-items: center;
    margin: 25px 0; 
    font-size: 1em; 
    font-family: sans-serif; 
    min-width: 450px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}
.table caption {
    padding: 0.3em;
    color: #fff;
     background: #000;
 }
.table thead{ 
    background-color: #005b98; 
    color: #ffffff; 
    text-align: center; 
}

.table th, .table td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }